<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.google.android.gms" >
	<uses-sdk android:minSdkVersion="9"/>
	
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
		
	<uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
	
	<application>
		
		<activity 	android:name="com.google.android.gms.ads.AdActivity" 
					android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" 
					android:theme="@android:style/Theme.Translucent"/>
		
		<!-- INMOBI SECTION -->
		<activity 	android:name="com.inmobi.androidsdk.IMBrowserActivity" 
					android:configChanges="keyboardHidden|orientation|keyboard|smallestScreenSize|screenSize"
					android:theme="@android:style/Theme.Translucent.NoTitleBar" 
					android:hardwareAccelerated="true" />		  
				  
		<receiver
            android:name="com.inmobi.commons.analytics.androidsdk.IMAdTrackerReceiver"
            android:enabled="true"
            android:exported="true" >
			
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.inmobi.share.id" />
            </intent-filter>
        </receiver>
		
		<service android:enabled="true" android:name="com.inmobi.commons.internal.ActivityRecognitionManager" />
	</application>
	
</manifest>